.footer {
    & {
        background:linear-gradient(243.43deg, #6442ddd1 16.9%, #49A3E3 83.27%), url('../assets/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.6;
        padding-bottom: 291px;
        
    }
    &__list{
        display: flex;
        align-items: center;
        margin-left: 225px;

    }
    & .footer__link2{
        margin-right: 20px;
    }
    & .icon {
        margin-right: 300px;
    }
   &__nav {
    padding-top: 220px;
   }
   

}