
.hamburger {
  display: none;

}
.nav-toggle {
    margin-top: 7px;
    margin-right: 7px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
  }
  
  .nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: $accent3;
    transition: all 100ms ease-in-out;
  }
  
  .nav-toggle:hover {
    cursor: pointer;
  }
  
  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
  }
  
  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  
  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
  }
.hamburgerCLICK {
    & {
       background-color: $accent2;
       display: none;
    }
    &__links {
        display: flex;
        align-items: start;
        padding-bottom: 10px;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    &__links:last-child{
        padding-bottom: 100%;
    }
    &__links:first-child{
        padding-top: 4%;
    }
    &__link {
        & a{
            text-decoration: none;
            font-weight: 400;
            font-size: 25px;
            line-height: 18px;
            color:$accent1;
        }
        margin: 0;
        padding: 15px;
    }
    &__link::before {
        content: "";
    }
}

