.container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
}

.main-header {
    & {
        padding-bottom: 223px;
    }
    &__list {
        display:flex;
        align-items: center;
        padding-top: 40px;
    }
    &__link {
        & a {
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color:$accent1;
        }
        &:first-child {
            margin-right: 144px;
        }
        &:nth-child(2),&:nth-child(3),&:nth-child(4){
            margin-right: 70px;
        }
        
        &:nth-child(5){
            margin-right: 110px;
        }
        &:nth-child(6),&:nth-child(7){
            margin-right: 20px;
        }
        &:nth-child(2)::before,&:nth-child(3)::before,&:nth-child(4)::before,&:nth-child(5)::before{
            content: url('../assets/emptycircle.svg');
            padding-right: 14px;
        }
        &:nth-child(2):hover::before,&:nth-child(3):hover::before,&:nth-child(4):hover::before,&:nth-child(5):hover::before{
            content: url('../assets/filledcircle.svg');
        }
    }

}