.hero-section {
    & h1 {
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        letter-spacing: 0.1em;
        color: $accent1;
        padding-bottom: 20px;
    }
    & h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: $accent1;
    }
    & .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 240px;
    }
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 78px;
    }
}