html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.main-header {
  padding-bottom: 223px;
}
.main-header__list {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.main-header__link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.main-header__link:first-child {
  margin-right: 144px;
}
.main-header__link:nth-child(2), .main-header__link:nth-child(3), .main-header__link:nth-child(4) {
  margin-right: 70px;
}
.main-header__link:nth-child(5) {
  margin-right: 110px;
}
.main-header__link:nth-child(6), .main-header__link:nth-child(7) {
  margin-right: 20px;
}
.main-header__link:nth-child(2)::before, .main-header__link:nth-child(3)::before, .main-header__link:nth-child(4)::before, .main-header__link:nth-child(5)::before {
  content: url("../assets/emptycircle.svg");
  padding-right: 14px;
}
.main-header__link:nth-child(2):hover::before, .main-header__link:nth-child(3):hover::before, .main-header__link:nth-child(4):hover::before, .main-header__link:nth-child(5):hover::before {
  content: url("../assets/filledcircle.svg");
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  display: none;
}
.hamburger__icon {
  float: right;
  width: 30px;
  color: black;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.hamburgerCLICK {
  background-color: #2C4058;
  display: none;
}
.hamburgerCLICK__links {
  display: flex;
  align-items: start;
  padding-bottom: 10px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.hamburgerCLICK__links:last-child {
  padding-bottom: 100%;
}
.hamburgerCLICK__links:first-child {
  padding-top: 4%;
}
.hamburgerCLICK__link {
  margin: 0;
  padding: 15px;
}
.hamburgerCLICK__link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  line-height: 18px;
  color: #FFFFFF;
}
.hamburgerCLICK__link::before {
  content: "";
}

.hero-section h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.hero-section h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}
.hero-section .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 240px;
}
.hero-section__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 78px;
}

.wwd {
  position: relative;
  margin-bottom: 140px;
}
.wwd__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 146px;
}
.wwd__first h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  padding-right: 70px;
}
.wwd__line {
  margin-top: 60px;
  color: #2C4058;
  margin-bottom: 30px;
}
.wwd__second {
  display: flex;
}
.wwd img {
  margin-right: 80px;
}
.wwd__article h6 {
  padding-top: 94px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.wwd__article h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}
.wwd__article p {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #2C4058;
  margin-bottom: 41px;
}
.wwd__article .p-italic {
  margin-top: 60px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.wwd__article p.italic::before {
  content: url("../assets/location.svg");
  padding-right: 5px;
}
.wwd__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
}
.wwd__button:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s;
}
.wwd__rectangle {
  position: absolute;
  z-index: -1;
  top: 234px;
}

.wwd2 .wwd_image2 {
  width: 50%;
  margin-right: 0px;
}
.wwd2 .wwd__article2 {
  margin-right: 80px;
}
.wwd2 .wwd__rectangle2 {
  position: absolute;
  right: -5.4%;
  top: -65px;
  z-index: -1;
}

.gallery {
  padding-top: 120px;
  margin-bottom: 139px;
}
.gallery__first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__first h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  margin-bottom: 89px;
  padding-top: 30px;
}
.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 60px;
}
.gallery__grid-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
}
.gallery--button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
  padding: 16px 57px;
}
.gallery .button:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s;
}

.contact {
  position: relative;
}
.contact__img {
  margin-right: 45px;
}
.contact__form {
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  padding: 0px 60px 112px 60px;
  top: 65%;
  left: 26%;
}
.contact__form-info {
  display: flex;
}
.contact__form-input {
  display: flex;
  flex-direction: column;
}
.contact input {
  font-family: "Montserrat";
  border: none;
  border-bottom: 1px solid #2C4058;
  color: #4B5562;
  margin-bottom: 33px;
  padding-bottom: 14px;
  padding-right: 80px;
}
.contact__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
  padding: 11px 34px;
  margin-left: 117px;
}
.contact__button:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s;
}
.contact__title {
  font-weight: 700;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  display: block;
  padding-bottom: 42px;
}
.contact__vija {
  margin-left: 235px;
  margin-bottom: 30px;
  margin-top: 16px;
}

.footer {
  background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49A3E3 83.27%), url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  padding-bottom: 291px;
}
.footer__list {
  display: flex;
  align-items: center;
  margin-left: 225px;
}
.footer .footer__link2 {
  margin-right: 20px;
}
.footer .icon {
  margin-right: 300px;
}
.footer__nav {
  padding-top: 220px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-header {
    padding-bottom: 223px;
  }
  .main-header__list {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  .main-header__link a {
    text-decoration: none;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .main-header__link:first-child {
    margin-right: 50px;
  }
  .main-header__link:nth-child(2), .main-header__link:nth-child(3), .main-header__link:nth-child(4) {
    margin-right: 30px;
  }
  .main-header__link:nth-child(5) {
    margin-right: 20px;
  }
  .main-header__link:nth-child(6), .main-header__link:nth-child(7) {
    margin-right: 20px;
  }
  .main-header__link:nth-child(2)::before, .main-header__link:nth-child(3)::before, .main-header__link:nth-child(4)::before, .main-header__link:nth-child(5)::before {
    content: "";
  }
  .hero-section {
    font-size: 60px;
    text-align: center;
  }
  .wwd__rectangle {
    right: 9%;
  }
  .wwd__image, .wwd__image2 {
    display: none;
  }
  .contact__form {
    right: 10%;
    left: 10%;
  }
  .owl-carousel .owl-dots {
    right: 5%;
  }
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .main-header__section {
    display: none;
  }
  .hero-section h1 {
    font-size: 60px;
    text-align: center;
  }
  .wwd__line {
    padding-left: 40px;
  }
  .wwd__title {
    padding-left: 30px;
  }
  .wwd__image {
    width: 80%;
    margin-right: 20px;
  }
  .wwd__rectangle {
    width: 80%;
    left: 25%;
  }
  .wwd h6 {
    padding-top: 10px;
  }
  .wwd__second {
    display: grid;
    grid-template-columns: 1fr;
  }
  .wwd__image2 {
    width: 80%;
  }
  .wwd__rectangle2 {
    bottom: 0%;
    right: 0;
  }
  .owl-carousel .owl-dots {
    display: none;
  }
  .gallery__grid {
    grid-template-columns: 1fr;
  }
  .contact__form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .contact__form {
    left: 2%;
    padding: 0px 30px 60px 30px;
  }
  .contact-input {
    margin-top: 10px;
  }
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.background-image {
  background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49A3E3 83.27%), url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */