@import './variables.scss';
@import './mixin.scss';
@import './reset.scss';
@import './header.scss';
@import './hamburger.scss';
@import './hero.scss';
@import './whatwedo.scss';
@import './latest-news.scss';
@import './gallery.scss';
@import './contact.scss';
@import './footer.scss';
@import './responsive.scss';

body {
    font-family: 'Source Sans Pro',sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat',sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
  }
.background-image {
    background:linear-gradient(243.43deg, #6442ddd1 16.9%, #49A3E3 83.27%), url('../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
}