html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.main-header {
  padding-bottom: 223px;
}
.main-header__list {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.main-header__link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.main-header__link:first-child {
  margin-right: 144px;
}
.main-header__link:nth-child(2), .main-header__link:nth-child(3), .main-header__link:nth-child(4) {
  margin-right: 70px;
}
.main-header__link:nth-child(5) {
  margin-right: 110px;
}
.main-header__link:nth-child(6), .main-header__link:nth-child(7) {
  margin-right: 20px;
}
.main-header__link:nth-child(2)::before, .main-header__link:nth-child(3)::before, .main-header__link:nth-child(4)::before, .main-header__link:nth-child(5)::before {
  content: url("../assets/emptycircle.svg");
  padding-right: 14px;
}

.hero-section h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.hero-section h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}
.hero-section .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 240px;
}
.hero-section__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 78px;
}

.wwd {
  position: relative;
  margin-bottom: 140px;
}
.wwd__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 146px;
}
.wwd__first h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  padding-right: 70px;
}
.wwd__line {
  margin-top: 60px;
  color: #2C4058;
  margin-bottom: 30px;
}
.wwd__second {
  display: flex;
}
.wwd img {
  margin-right: 80px;
}
.wwd__article h6 {
  padding-top: 94px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.wwd__article h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}
.wwd__article p {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #2C4058;
  margin-bottom: 41px;
}
.wwd__article .p-italic {
  margin-top: 60px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.wwd__article p.italic::before {
  content: url("../assets/location.svg");
  padding-right: 5px;
}
.wwd__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
}
.wwd__button:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s;
}
.wwd__rectangle {
  position: absolute;
  z-index: -1;
  top: 234px;
}

.wwd2 .wwd_image2 {
  width: 50%;
  margin-right: 0px;
}
.wwd2 .wwd__article2 {
  margin-right: 80px;
}
.wwd2 .wwd__rectangle2 {
  position: absolute;
  right: -5.4%;
  top: -65px;
  z-index: -1;
}

* {
  outline: 1px solid red;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.background-image {
  background-image: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%), url("../assets/hero.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */